body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

/* button */
.btn_white {
  background: white;
}

/* header */
.header_top .navbar {
  height: 80px;
  line-height: 80px;
  background-color: white;
}

#logo {
  width: 200px;
  vertical-align: middle;
}

.header_top nav {
  margin: 0;
}

.header_top li {
  display: inline-block;
  padding-right: 20px;
}

.header_top a {
  color: black;
}

.header_top .btn_white {
  border: 1px solid #0080ff;
  color: #0080ff;
}

.hamburger_menu i{
  cursor: pointer;
  color: #0069FF;
  font-size: 120%;
}

/* jumbtron */
.jumbtron {
  margin-top: 80px;
  padding: 60px 0;
  color: white;
  background-image: url("../img/bg-home-1.jpg");
  background-size: cover;
}

.jb_fc {
  font-size: 18px;
  font-weight: 500;
}

.main_h {
  font-size: 50px;
  font-weight: 600;
}

/* jumbotron-login */
.jumbotron_login {
  padding: 0 10px;
  color: black;
  border-radius: 5px;
}

.jumbotron_login > div {
  padding: 30px;
  background-color: white;
  border-radius: 3px;
}

.jumbotron_login p {
  font-size: 18px;
  font-weight: bold;
}

.jumbotron_login span {
  color: #0049ff;
}

.jumbotron_login .row:last-child  div {
  margin-bottom: 10px;
}

.jumbotron_login input:not([type="submit"]) {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
}

.jumbotron_login input:not([type="submit"]):hover,
.jumbotron_login input:not([type="submit"]):active,
.jumbotron_login input:not([type="submit"]):focus{
  border: 1px solid #0049ff;
}

.jumbotron_login .btn{
  width: 100%;
  font-weight: 600;
}

.jumbotron_login .btn_white {
  box-shadow: 0 0 10px lightgrey;
}

.jumbotron_login .btn_blue {
  background-color: #579aff;
  color: white;
}

.jumbotron_login .terms {
  font-size: 13px;
}

.jumbotron_login .terms span{
  text-decoration: underline;
}

.i_button {
  position: relative;
}

.i_button img {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* main */
main a {
  color: #0080ff;
}

main a:hover {
  color: #0080ff;
}

section {
  padding: 60px 0;
  color: #5c6a88;
  font-weight: 500;
}

section h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #031c4e;
  font-size: 30px;
  font-weight: 600;
}

section .row:first-child p {
  font-size: 20px;
}

/* costumers */
.costumers {
  background-color: #f3f5f9;
}

.costumers h3 {
  color: #6f7b97;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.costumers img {
  max-height: 80px;
  max-width: 160px;
  vertical-align: middle;
}

#splunk {
  margin-top: 18px;
  max-height: 50px;
}

.costumers .row:nth-child(2) {
  margin-bottom: 30px;
}

/* deploy */
.deploy .row:last-child > div {
  margin-top: 60px;
}

.deploy ul {
  margin-left: 100px;
}

.deploy li {
  padding: 15px 5px;
  font-size: 20px;
  border-left: 2px solid lightgrey;
}

.deploy .card:first-child {
  margin-bottom: 30px;
}

.deploy .card h3 {
  color: #031c4e;
  font-size: 20px;
  font-weight: 600;
}

.deploy .card p {
  font-size: 15px;
}

/* developers */
.developers {
  background-color: #f3f5f9;
}

.developers .row div:nth-child(2) {
  margin: 30px 0;
}

.developers img {
  width: 90%;
  max-width: 600px;
}

.developers span {
  color: #031c4e;
  font-weight: 600;
}

/* features */
.features .card{
  font-size: 15px;
}

.features .row > div:not(:last-child) .card {
  margin-bottom: 30px;
}

.features .card h3{
  color: #031c4e;
  font-size: 20px;
  font-weight: 600;
}

/* services */
.services {
   background-image: linear-gradient(to bottom, #0048c6, #013ebb, #0133b0, #0129a4, #001e99);
   color: white;
   font-weight: bold;
}

.services h2 {
  color: white;
}

.services span {
  color: #bbc8ea;
}

.services a {
  color: #00d3d1;
}

.services a:hover {
  color: #00d3d1;
  text-decoration: none;
}

.services .row:not(:first-child) .wrapper > div {
  padding: 10px;
}

.services .row:not(:first-child) > div:not(:last-child) .wrapper {
  border-bottom: 1px solid white;
}

/* development */
.development {
  background-color: #f3f5f9;
}

.development .row:first-child {
  margin-bottom: 60px;
}

.development .row:last-child > div {
  padding: 80px 30px;
  background-color: white;
}

.development .row:last-child div div:first-child {
  width: 100%;
  position: relative;
}

.development .author {
  margin-bottom: 40px;
}

.development img {
  width: 90%;
  min-width: 160px;
  max-width: 280px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.development .row > div p{
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
}

.development h4 {
  font-weight: bold;
  color: black
}

/* footer */
.footer_top {
  padding: 60px 0;
  background-image: linear-gradient(to bottom, #0048c6, #013ebb, #0133b0, #0129a4, #001e99);
  color: white;
}

.footer_top h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}

.footer_top .btn {
  font-weight: 600;
}

.footer_bottom {
  padding: 60px 0;
  background-color: #031c4e;
  color: #687490;
}

.footer_bottom li {
  margin-bottom: 10px;
}

.footer_bottom h3 {
  color: white;
}

.footer_bottom h4 {
  color: #8b94a9;
}

.footer_bottom ul {
  padding-left: 0;
}

.footer_bottom a {
  color: #8b94a9;
}

.social a {
  font-size: 25px;
  padding-right: 10px;
}

/* chat */
.chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.chat > div:first-child {
  height: 50px;
  width: 60px;
  background-color: #006aff;
  border-radius: 3px;
  box-shadow: 0 0 10px lightgrey;
}

.chat img {
  height: 50px;
  width: 60px;
}

.notify {
  width: 20px;
  padding: 1px 10px 1px 5px;
  position: fixed;
  bottom: 68px;
  right: 20px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #ff0001;
  color: white;
  font-size: 10px;
  box-shadow: 0 0 10px lightgrey;
}

.msg {
  width: 220px;
  padding: 10px 0px 10px 10px;
  position: fixed;
  bottom: 28px;
  right: 110px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px lightgrey;
}

/* media query */
@media screen and (min-width: 1200px) {

  /* services */
  #border_less_lg {
    border-bottom: none;
  }

  .services .wrapper {
    margin: 0 5px;
  }

}

@media screen and (max-width: 1200px) {

  /* costumers */
  .costumers img {
    height: 80px;
  }

}

@media screen and (max-width: 992px) {

  /* costumers */

  /* deploy */
  .deploy ul {
    margin-left: 0;
    padding-left: 0;
  }

}

@media screen and (max-width: 768px) {

  section h2 {
    font-size: 24px;
  }

  /* jumbotron */
  .main_h {
    font-size: 40px;
  }

  /* costumers */
  .costumers img {
    height: 50px;
  }

  #splunk {
    margin-top: 13px;
    height: 30px;
  }

  /* deploy */
  .deploy .row > div:last-child {
    margin-top: 30px;
  }

  /* services */
  .services {
    font-size: 10px;
  }

  /* chat */
  .chat {
    bottom: 100px;
    left: 30px;
  }


  .notify {
    bottom: 135px;
    left: 80px;
  }

  .msg {
    bottom: 28px;
    left: 30px;
  }


}
