  /* da togliere */
.debug .box {
  min-height: 100px;
  border: 1px solid black;
  background-color: green;
}

/* da togliere */
.debug .box .box {
  background-color: yellow;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

/* button */
.btn_white {
  background: white;
  color: #0080ff;
}

/* header */
.header_top {
  height: 80px;
  line-height: 80px;
}

#logo {
  width: 200px;
  vertical-align: middle;
}

.header_top nav {
  margin: 0;
}

.header_top li {
  display: inline-block;
  padding-right: 20px;
}

.header_top a {
  color: black;
}

.header_top .btn_white {
  border: 1px solid #0080ff;
  color: #0080ff;
}

/* jumbtron */
.jumbtron {
  padding: 60px 0;
  color: white;
  background-image: url("../img/bg-home-1.jpg");
  background-size: cover;
}

.jb_fc {
  padding-right: 70px;
  font-size: 18px;
  font-weight: 500px;
}

.main_h {
  font-size: 50px;
}

/* started_now */
.started_now {
  padding: 30px;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.started_now div {
    margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}

.started_now p {
  font-size: 18px;
}

.started_now span {
  color: #0049ff;
}

.started_now .text_field {
  color: grey;
  border: 1px solid lightgrey;
}

.started_now a:hover {
  text-decoration: none;
}

.btn_google_white {
  background-color: white;
  box-shadow: 0 0 10px lightgrey;
}

.btn_google_blue {
  background-color: #0049ff;
}

.btn_google_blue a{
  color: white;
}

p.tos {
  font-size: 13px;
  font-weight: 500;
}

.tos span {
  text-decoration: underline;
}


/* main */
main a {
  color: #0080ff;
}

main a:hover {
  color: #0080ff;
}

section {
  padding: 60px;
  background-color: #f3f5f9;
}

/* costumers */
.costumers img {
  max-height: 90px;
  vertical-align: middle;
}

.costumers .splunk {
  margin-top: 23px;
  max-height: 50px;
}

.costumers a {
  margin-top: 10px;
}


/* footer */
.footer-bottom {
  /* da togliere */
  height: 500px;
  background-color: blue;
}

/* media query */
@media screen and (max-width: 768px) {

  /* jumbotron */
  .main_h {
    font-size: 40px;
  }

  /* costumers */

}
