  /* da togliere */
.debug .box {
  min-height: 100px;
  border: 1px solid black;
  background-color: green;
}

/* da togliere */
.debug .box .box {
  background-color: yellow;
}

/* header */
.header_top nav {
  margin: 0;
}

/* jumbtron */
.jumbtron {
  padding: 60px 0;
  /* da togliere */
  background-color: blue;
}

/* main */
section {
  padding: 60px;
  /* da togliere */
  border-bottom: 1px solid black
}

/* section_costumers */
